.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10.7px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 500px;
}

.modal-content .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

h4{
  text-align: center;
}

.modal button {
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #0e81c8a8;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal button:hover {
  background-color: #033089a8;
}

.deck-name {
  color: #08659ed6;
  transition: color 0.3s ease; 
  font-weight: 500;
}

.deck-name:hover {
  color: #033089db;
  font-weight: 600;
}
