/* Стилі для жирного шрифту та зміни кольору при наведенні */
.bold-on-hover {
    font-weight: 700;
    transition: color 0.3s ease; /* Додаємо плавну анімацію для зміни кольору */
    color: #0e81c8a8;
  }
  
  .bold-on-hover:hover {
    color: #033089a8; /* Змінюємо колір при наведенні */
    cursor: pointer;  /* Змінюємо курсор на вказівник */
  }
  